QueroComer/QueroComer/obj
QueroComer/QueroComer/bin/QueroComer.dll
*.dll
QueroComer/QueroComer/bin/QueroComer.pdb
*.db
QueroComer/QueroComer/bin/QueroComer.pdb
*.dll
*.pdb
QueroComer/QueroComer/obj/Debug/QueroComer.csprojResolveAssemblyReference.cache
QueroComer/QueroComer/obj/Debug/QueroComer.csproj.FileListAbsolute.txt
*.suo